<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
    .container {
  box-sizing: content-box;
  background: rgb(240, 233, 233);

}
    </style>
</head>
<body>
    <nav class ="navbar navbar-expand-lg navbar-light bg-light"> 
        <a class="navbar-brand" href="/">Navbar</a>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

</button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prices">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contack</a>
                </li>
            </ul>
        </div>
    </nav>
   
   <div class= "container">   
   </div>
   <div class="container">
     <a>
       
        <p> В декабре 2002 года был создан первый родственный проект — Викисловарь; Он использует то же программное обеспечение, что и Википедия.
        20 июня 2003 года, в тот же день, когда был основан Фонд Викимедиа, создан Викицитатник. Месяц спустя запущен «Wikibooks». Викитека будет установлен к концу года.
        20 апреля 2004 года в английском разделе насчитывается 250 000 статей
        7 июля 2004 года количество статей на английском языке достигает 300 000.
        20 ноября 2004 года в английском разделе насчитывается 400 000 статей.
        В мае 2005 года Википедия, согласно компании Hitwise, становится самым популярным справочным веб-сайтом в Интернете, опуская Dictionary.com на второе место.
        29 сентября 2005 года количество статей английской Википедии переходит отметку в 750 000.
        15 августа 2006 года Фонд Викимедиа запускает Викиверситет.</p>
        
      </a>  
</div>
   <div class="container"> <p>Финансирование
    Один из первых сборов средств был проведен с 18 февраля до 1 марта 2005 года и собрал $94 000, превзойдя ожидания на $21 000.
    6 января 2006 года закончился сбор Q4 2005, собрав в общей сложности более $390 000.
    В июне 2007 года было объявлено, что Немецкая Википедия будет финансироваться государством.
    Внешнее влияние
    Другие примечательные события
  </p></div>
</body>
</html>